  .popupMain {
    display: none;
    position: fixed;
    background-color: white;
    z-index: 99999;
    width: 400px;
    left: 20px;
    top: 20px;
    height: auto;
  }

  a {
    color: #0F4DA8;
  }

  html {
    color: #414141;
  }

  body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    min-width: 300px;
    padding: 10px;
    background-color: #FFE600;
  }

  p {
    color: #414141;
  }

  .playlistInfo {
    width: 400px;
  }

  legend {
    margin-top: 20px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
  }

  fieldset {
    border: 0;
    border-radius: 10px;
    padding-left: 0;
  }

  fieldset >label:first-child {
    margin-top: 0px;
  }

  label,
  input,
  select,
  legend {
    margin: 4px 0;
    color: #414141;
  }

  label {
    margin-top: 20px;
  }

  label,
  select,
  legend {
    display: block;
  }

  input[type="text"] {
    padding: 5px;
    font-size: 16px;
  }

  #go {
    padding: 10px 15px;
    font-size: 16px;
    background: white;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 20px;
    width: 62px;
    border: 1px solid transparent;
    transition: .2s;

  }

  #go:hover {
    background-color: #ECE9E9;
  }

  select {
    display: block;
  }

  .error-message, .success-message, .all-duplicates, .duplicates-number, .duplicatesAndErrors {
    display: none;
    font-weight: bold;
  }

  .numDuplicates {
    display: none;
  }

  .success-message {
    color: green;
  }

  .error-message, .all-duplicates, .duplicatesAndErrors {
    color: red;
  }

  .loader-container {
    margin-top: 20px;
    width: 300px;
    border: 1px solid #969696;
    position: relative;
    margin-left: -150px;
    left: 50%;
    height: auto;
    box-sizing: border-box;
    display: none;
  }

  .loader {
    background-color: #414141;
    height: 20px;
    width: 0px;
    margin: 2px;
    box-sizing: border-box;
  }

  .failed-uploads {
    display: none;
  }

  .scanner-loader-container {
    width: 100%;
    text-align: center;
    display: none;

  }

  .linkNumber

  .scanner-loader {
    margin: 0 auto;
    position: relative;
    left: 0%;

  }

  .text-container {

    position: relative;
    width: 300px;
    left: 50%;
    margin-left: -150px
  }

  .scanInfo {
    display: none;
  }

  .upload-title {
    display: none;
  }

  .explain {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid #414141;
    color: #414141  ;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 3px;
    position: relative;
    bottom: 0px;
  }

  .explanation {
    display: none;
    border-top: 1px solid #414141;
    border-bottom: 1px solid #414141;
    margin-top: 14px;
    padding: 10px 0;
  }

  .explain-header {
    text-decoration: underline;
    font-weight: bold;
  }

  .scan-info h3 {
    text-decoration: underline;
  }
  .invalidPlaylist {
    color: red;
    display: none;
    font-weight: bold;
  }
