
  .close, .minify {
    float: right;
    text-decoration: underline;
    color: rgb(65, 65, 65);
    margin-bottom: 3px;
    font-size: .6em;
  }

  .minify {
    margin-right: 10px;
  }

  .popupMinified {
    position: fixed;
    right: 5px;
    top: 50px;
    display: none;
    background-color:  #FFE600;
    z-index: 9999;
    border-radius: 10px;
    transition: .2s;
  }

  .popupMinified a {
    font-family: sans-serif;
    padding: 5px 8px;
    display: block;
    font-size: .8em;
    text-decoration: none;
    color: #666 !important;
  }

  .popupMinified a:hover {
    text-decoration: none;
  }

  .popupMinified:hover {
    background-color: #E2D55C;
  }

  .popupMain {
    display: none;
    position: fixed;
    z-index: 99999;
    right: 5px;
    top: 50px;
    height: auto;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif !important;
    font-size: 16px;
    color: #666;
    min-width: 300px;
    padding: 10px;
    background-color: #FFE600;
    border-radius: 10px;
    max-height: 500px;
    overflow-y: scroll;
  }

  .scanInfo {
    display: none;
  }

  .popupMain a {
    color: #0F4DA8;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif !important;
  }

  .popupMain p {
    color: #414141;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif !important;
    color: #666;
  }

  .playlistInfo {
    width: 350px;
  }

  .popupMain legend {
    margin-top: 20px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif !important;
    color: #666;
  }

  .popupMain fieldset {
    border: 0;
    border-radius: 10px;
    padding-left: 0;
  }

  .popupMain fieldset >label:first-child {
    margin-top: 0px;
  }

  .popupMain label,
  .popupMain input,
  .popupMain select,
  .popupMain legend {
    margin: 4px 0;
    color: #666 !important;;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  }

  .popupMain label {
    margin-top: 20px;
    font-size: 14px !important;
  }

  .popupMain label,
  .popupMain select,
  .popupMain legend {
    display: block;
  }

  .popupMain input[type="text"] {
    padding: 5px;
    font-size: 16px;
  }

  #go {
    padding: 10px 15px;
    font-size: 16px;
    background: white;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 30px;
    width: auto;
    border: 1px solid transparent;
    transition: .2s;
    display: inline;
    position: relative;
    top: 15px;

  }

  #go:hover {
    background-color: #ECE9E9;
  }

  .popupMain select {
    display: block;
    margin-bottom: 10px;
  }

  .error-message, .success-message, .all-duplicates, .duplicates-number, .duplicatesAndErrors {
    display: none;
    font-weight: bold;
  }

  .numDuplicates {
    display: none;
  }

  .success-message {
    color: green;
  }

  .error-message, .all-duplicates, .duplicatesAndErrors {
    color: red;
  }

  .loader-container {
    margin-top: 20px;
    width: 300px;
    border: 1px solid #969696;
    position: relative;
    margin-left: -150px;
    left: 50%;
    height: auto;
    box-sizing: border-box;
    display: none;
  }

  .loader {
    background-color: #414141;
    height: 20px;
    width: 0px;
    margin: 2px;
    box-sizing: border-box;
  }

  .failed-uploads {
    display: none;
  }

  .scanner-loader-container {
    width: 100%;
    text-align: center;
    display: none;
  }

  .linkNumber

  .scanner-loader {
    margin: 0 auto;
    position: relative;
    left: 0%;

  }

  .text-container {

    position: relative;
    width: 300px;
    left: 50%;
    margin-left: -150px
  }


  .upload-title {
    display: none;
  }

  .explain {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid #414141;
    color: #414141  ;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 3px;
    position: relative;
    bottom: 0px;
  }

  .explanation {
    display: none;
    border-top: 1px solid #414141;
    border-bottom: 1px solid #414141;
    margin-top: 14px;
    padding: 10px 0;
  }

  .explain-header {
    text-decoration: underline;
    font-weight: bold;
  }

  .doneButton {
    display: inline-block;
    padding: 10px;
    width: auto;
    height: auto;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
  }

  .chosenThread {
    border: 4px solid #FFE600 !important;
  }

  .doneButton:hover {
    background-color: #ECE9E9;
  }

  .scan-info h3 {
    text-decoration: underline;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  }
  .invalidPlaylist {
    color: red;
    display: none;
    font-weight: bold;
  }
